
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
   
</head>
<body>

<section id="about" class="no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 section-text">
                <div class="title title-left">
                    <h2 style="color: white;">The <span style="color:  #ffb727;">beginning</span></h2>
                    <h6>About Us</h6>
                    <div class="divider divider-sm"></div>
                </div>
                <p>Sometimes I’m amazed that I spend my days creating magic and fantasy and that people buy it. It’s like connecting with the inner child in me; I’m just having a great time, and I’m chuckling to myself that this is really happening, that I can do this with my life.</p>
                <p>A designer, like an archaeologist or geologist; researches, uncovers and adds context to precious, overlooked treasures by digging deep beneath the surface.</p>

                </div>
                </div>
    
    </div>
   