
<section class="section"> 
    <div class="container">
  
      <div class="row">
          <div class="col-lg-12">
              <h3 class="text-dark mt-4 mb-4">Education</h3>
          </div>
      </div>
  
      <div class="row">
          <div class="col-lg-4">
              <div class="job-detail candidates-profile-education text-center text-muted mb-5 mt-5">
                  <div class="profile-education-icon">
                      <i class="mdi mdi-school"></i>
                  </div>
                  <h6 class="text-uppercase f-17"><a href="#" class="text-dark">Tertiary</a></h6>
                  <p class="f-14 mb-1">B.S, Information Technology, Concentration in Web Development.</p>
                  <p class="f-14 mb-0">Holy Angel University</p>
                  <hr class="mt-2 mb-2">
                  <p class="f-14 mb-0">Sto. Rosario St. Angeles City.</p>
                  <p class="f-14 mb-0">2019-2020</p>
          </div>
         </div>
         <div class="col-lg-4">
          <div class="job-detail candidates-profile-education text-center text-muted mb-5 mt-5">
              <div class="profile-education-icon">
                  <i class="mdi mdi-library"></i>
              </div>
              <h6 class="text-uppercase f-17"><a href="#" class="text-dark">Secondary (Senior & Junior)</a></h6>
              <p class="f-14 mb-1">Accountancy, Business, and Management</p>
              <p class="f-14 mb-0">Angeles City National High School-shs & jhs</p>
              <hr class="mt-2 mb-2">
              <p class="f-14 mb-0">Purok #2 Pampang Angeles City.</p>
              <p class="f-14 mb-0"> 2013 - 2019.</p>
              
          </div>
      </div>
  
          <div class="col-lg-4">
              <div class="job-detail candidates-profile-education text-center text-muted mb-5 mt-5">
                  <div class="profile-education-icon">
                      <i class="mdi mdi-briefcase-check"></i>
                  </div>
                  <h6 class="text-uppercase f-17"><a href="#" class="text-dark"> Primary</a></h6>
                  <p class="f-14 mb-1">Pampang Elementary School</p>
                  <p class="f-14 mb-0">Purok #2 Pampang, Angeles City</p>
                  <p>..</p>
                  
                  <hr class="mt-2 mb-2">
                  <p class="f-14 mb-0">2007 - 2012
                    .</p>
              </div>
          </div>
      </div>
      <hr>
  </div>