<section class="lis-bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <div class="heading pb-4">
                    <h2 *ngIf="true">CLOTHES</h2> <!--USING *NGIF FOR THE TITLES-->
                    <h5 class="font-weight-normal lis-light" >The top website that will provide everything from the latest trends to the best brands and affordable prices.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table">
                   
                    <div class="price-header pic1 lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                      <br><br><br><br><br> &nbsp;
                    </div>
                   
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li style="padding: 0 4px;" *ngFor="let l of list">{{l}}</li>
                            
                        </ul> <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table active">
                    
                    <div class="price-header pic2 lis-bg-primary py-4 text-white lis-rounded-top">
                        <br><br><br><br><br> &nbsp;
                    </div>
                    <div class="border  border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li style="padding: 0 10px;" *ngFor="let l of list1">{{l}}</li>
                        </ul> <a href="#" class="btn btn-primary btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table">
                    <div class="price-header pic3 lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                        <br><br><br><br><br> &nbsp;
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li style="padding: 0 10px;" *ngFor="let l of list2">{{l}}</li>
                        </ul> <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lis-bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <div class="heading pb-4">
                    <h2 *ngIf="true">HANDBAGS</h2> <!--USING *NGIF FOR THE TITLES-->
                    <h5 class="font-weight-normal lis-light">Buy Handbags Online. Check our brand new collection of all types of online handbags.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table">
                    <div class="price-header pic6 lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                        <br><br><br><br><br> &nbsp;
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li style="padding: 0 4px;" *ngFor="let l of list3">{{l}}</li>
                            
                        </ul> <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table active">
                    <div class="price-header pic5 lis-bg-primary py-4 text-white lis-rounded-top">
                        <br><br><br><br><br> &nbsp;
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li style="padding: 0 4px;" *ngFor="let l of list4">{{l}}</li>
                        </ul> <a href="#" class="btn btn-primary btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table">
                    <div class="price-header pic4 lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                        <br><br><br><br><br> &nbsp;
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li style="padding: 0 5px;" *ngFor="let l of list5">{{l}}</li>
                        </ul> <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lis-bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <div class="heading pb-4">
                    <h2 *ngIf="true">MUGS - Faceshields</h2> <!--USING *NGIF FOR THE TITLES-->
                    <h5 class="font-weight-normal lis-light">Explore our wide range of cups and mugs and find your favourites. And choose a Face Shield Designed for Style & Protection</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table">
                    <div class="price-header pic7 lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                        <br><br><br><br><br> &nbsp;
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li style="padding: 0 10px;" *ngFor="let l of list6">{{l}}</li>
                            
                        </ul> <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table active">
                    <div class="price-header pic8 lis-bg-primary py-4 text-white lis-rounded-top">
                        <br><br><br><br><br> &nbsp;
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li style="padding: 0 15px;" *ngFor="let l of list7">{{l}}</li>
                        </ul> <a href="#" class="btn btn-primary btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table">
                    <div class="price-header pic9 lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                        <br><br><br><br><br> &nbsp;
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li style="padding: 0 10px;" *ngFor="let l of list8">{{l}}</li>
                        </ul> <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>