<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body style="background: #0D1810;" >
<nav class="navbar navbar-expand-lg">

                <ul class="navbar-nav" style="margin-left: 33%;">
                    <li class="nav-item" >
                        <a  class="nav-link" routerLink="../elist1" style="color: White; font-size: 22px;">E - LIST 1</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" routerLink="../elist2" style="color: White; font-size: 22px;">E - LIST 2</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" routerLink="../elist3" style="color: White; font-size: 22px;">E - LIST 3</a>
                    </li>
                  
                </ul>
        
        </nav>

        </body>

        <router-outlet></router-outlet>