
<!--
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

  <nav id="navbar" class="navbar">
    <p style="font-family: Open Sans sans-serif; letter-spacing: 5px; font-size: 20px; margin-left: -50%; margin-top: 2%; color: bisque; font-weight:500;" >STAND<span style="color:#ffb727;">-OUT</span></p>
    <ul>
      <li><a class="nav-link scrollto active" routerLink="../home">Home</a></li>
      <li><a class="nav-link scrollto" routerLink="../about">About</a></li>
      <li><a class="nav-link scrollto" routerLink="../products">Products</a></li>
      <li><a class="nav-link scrollto"routerLink="../contact">Contact</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>.navbar -->

 
<!--
</header> End Header -->

<!--
<router-outlet></router-outlet>  -->



<app-httpclient></app-httpclient> /<!--client-->