<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <h1 style="letter-spacing: 3px;">STAND<span style="color:#ffb727;">-OUT </span>ONLINE STORE</h1>
      <h2 style="letter-spacing: 3px; margin-top: 3%; color: grey;" >Collaborating with manufacturers, artisans, and creative minds to
        <br> bring you truly unique products fo craft-minded drinkers.<br>
      We've taken 50% off this season. Limited time Only.</h2>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section><!-- End Hero -->
  
  <main id="main">
  
